.c-page-header {
  background: url("../img/common/page-header.png") left / 874px 100% no-repeat, url("../img/club/page-header.jpg") center / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .c-page-header {
    background: url("../img/common/page-header_sp.png") left / 60% 100% no-repeat, url("../img/club/page-header_sp.jpg") center / 100% 100% no-repeat;
  }
}

.tbox {
  position: relative;
  margin-top: 30px;
}

.tbox>div {
  text-align: center;
}

.tbox>div p:first-of-type{
  padding-bottom: 40px;
}

/* あしらい */
.deco {
  display: block;
  position: absolute;
}

._01 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.deco._01 span {
  height: 0;
  width: 325px;
  padding-top: 70.76%;
  display: block;
  background: url(../img/contact/img_deco_01.png) left top / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .deco._01 span {
    width: 180px;
  }
}