@charset "UTF-8";

/*!
 * ress.css â€¢ v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
# Global selectors
# ================================================================= */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
       # General elements
       # ================================================================= */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
    * Correct `block` display not defined for any HTML5 element in IE 8/9
    * Correct `block` display not defined for `details` or `summary` in IE 10/11
    * and Firefox
    * Correct `block` display not defined for `main` in IE 11
    */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: inherit;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  border-bottom: 1px dotted;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  color: #000;
  background-color: #ff0;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
       # Forms
       # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
  /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  color: inherit;
  background-color: transparent;
  border-style: none;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  border: 0;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
       # Specify media element style
       # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

/* # =================================================================
       # Accessibility
       # ================================================================= */
/* Hide content from screens but not screenreaders */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
       # Selection
       # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
  background-color: #b3d4fc;
}

::selection {
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
  background-color: #b3d4fc;
}

/* # =================================================================
  #	ベース
  # ================================================================= */
:root {
  --vh: 100vh;
  --sp_mv_vh: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Yu Gothic", "Shippori Mincho", "Playwrite IN", "Quicksand";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  color: #333;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

a:hover,
button:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

ul li {
  list-style-type: none;
}

ol {
  list-style-position: outside;
  /* 番号を左側に出す（デフォルト） */
  margin-left: 1.5em;
  /* 必要に応じて調整、0にすると完全左寄せ */
  padding-left: 0;
}

em,
i,
dfn {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* # =================================================================
#	レイアウト
# ================================================================= */
/* PC/SP
------------------------- */
.for-sp {
  display: none;
}

.for-pc {
  display: inline-block;
}

.c-column {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  min-width: 1000px;
}

.c-wrapper {
  min-width: 1100px;
}

.c-column-s {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .c-column {
    padding: 0 15px;
    min-width: inherit;
  }

  .c-wrapper {
    min-width: inherit;
  }

  .c-column-s {
    padding: 0 15px;
  }

  .for-pc {
    display: none;
  }

  .for-sp {
    display: inline-block;
  }
}

/* # =================================================================
#	グローバルナビゲーション
# ================================================================= */
.c-nav {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  z-index: 998;
  height: 100vh;
}

.c-nav__bg span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.c-nav__bg span:nth-child(1) {
  top: 200px;
  bottom: 0;
  right: 56.33333vw;
  margin: auto 0;
}

.c-nav__bg span:nth-child(2) {
  top: -100px;
  bottom: 0;
  left: 34.2vw;
  margin: auto 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c-nav__bg span svg {
  width: 2722px;
  stroke: #fff;
  opacity: 0.05;
}

.c-nav__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2vw;
  border-right: 1px solid #989E74;
  padding-right: 4%;
  width: 26vw;
}

.c-nav__inner {
  height: 100%;
  padding: 43px 5.3333333333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.c-nav__logo {
  width: 100%;
  line-height: 0;
}

.c-nav__logo--txt {
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.9vw;
}

.c-nav__logo--txt span {
  font-size: 1.3vw;
}

@media screen and (max-width: 767px) {
  .c-nav__name {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }

  .c-nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    display: block;
    padding: 16vw 15px 40px 15px;
  }

  .c-nav__logo {
    width: 25vw;
  }

  .c-nav__logo--txt {
    font-size: 18px;
    margin-top: 20px;
  }

  .c-nav__logo--txt span {
    font-size: 14px;
  }
}

.c-nav__conts {
  width: calc(100% - 26vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 16vh;
  position: relative;
}

.c-nav__box {
  padding-left: 20px;
  width: 50%;
}

.c-nav__box+.c-nav__box {
  padding-left: 50px;
}

@media screen and (max-width: 767px) {
  .c-nav__conts {
    width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 15px;
  }

  .c-nav__box {
    padding-left: 0;
    width: 100%;
    margin-left: 0;
  }

  .c-nav__box+.c-nav__box {
    margin-left: 0;
    padding-left: 0;
  }
}

.c-nav__bnr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  font-family: "Shippori Mincho";
  font-weight: 600;
}

.c-nav__bnr a {
  color: #FFFFFF;
}

.c-nav__bnr--mbr {
  /* border: 3px solid #000; */
  width: 18vw;
  height: 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5vw;
  background: #243749;
  background: #878B6B;
  margin-left: 10px;
  font-family: "Shippori Mincho";
}

.c-nav__bnr--wtr {
  display: inline-block;
  width: 18vw;
  margin-left: 10px;
}

._weat {
  background: #243749;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-nav__bnr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 40px 0 0 0;
  }

  .c-nav__bnr a {
    margin: 0;
    width: 50%;
    height: 40px;
    border: none;
    margin: 0 10px;
  }

  .c-nav__bnr a._member {
    background: #03045E;
    margin-left: 15px;
  }

  .c-nav__bnr--mbr {
    font-size: 14px;
  }
}

.c-nav__list>li {
  border-top: 1px dotted #989E74;
  padding: 15px;
}

.c-nav__list>li:last-of-type {
  border-bottom: 1px dotted #989E74;
}

.c-nav__list>li>a {
  font-weight: 700;
  display: block;
}

.c-nav__list--head {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-nav__list--head::before {
    content: "＋";
    position: absolute;
    right: 20px;
  }

  .c-nav__list--head.active::before {
    content: "—";
  }

  .c-nav__list>li {
    padding: 10px 0;
    border-top: none;
    border-bottom: 1px dotted #989E74;
  }
}

.c-nav__sub a {
  display: block;
}

@media screen and (max-width: 767px) {
  .c-nav__sub {
    display: none;
    padding: 5px 0;
  }
}

.c-header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 3% 20px 3%;
  z-index: 999;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  justify-content: space-between;
  background: #132133;
}

.c-header__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-header__logo {
  width: 80px;
  line-height: 0;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .c-header {
    padding: 10px 5px;
    height: inherit;
    background: #132133;
  }

  .c-header__logo {
    width: 50px;
    margin: 0 auto 0 20px;
  }
}

.c-header__member {
  height: 45px;
}

.c-header__member a {
  border: 1px solid #132133;
  border-radius: 45px;
  background-color: #fff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 0px 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #132133;
  line-height: 45px;
  height: 100%;
  font-family: "Shippori Mincho";
  font-weight: 700;
  width: 180px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-header__member {
    height: 40px;
  }

  .c-header__member a {
    font-size: 14px;
    padding: 0px 15px;
    line-height: 40px;
    width: auto;
  }
}

.c-header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  cursor: pointer;
  width: 180px;
  height: 45px;
  background-color: #fff;
  border-radius: 25px;
  color: #132133;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Shippori Mincho";
  font-weight: 700;
}

.c-header__menu>div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.c-header__menu>div>span {
  line-height: 45px;
}

.c-header__menu--inner {
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 5px;
}

.c-header__menu--inner>span {
  display: block;
  width: 100%;
  height: 3px;
  background: #132133;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-header__menu--inner>span:nth-child(1) {
  top: 0;
}

.c-header__menu--inner>span:nth-child(2) {
  top: 8px;
}

.c-header__menu--inner>span:nth-child(3) {
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .c-header__menu {
    width: auto;
    height: 40px;
    margin-left: 10px;
    padding: 0 10px;
  }

  .c-header__menu>div>span {
    font-size: 14px;
    line-height: 40px;
  }
}

.c-header__menu.is-open {
  background: #132133;
  color: #fff;
}

.c-header__menu.is-open>div>div span {
  background: #fff;
}

.c-header__menu.is-open>div>div span:nth-child(1) {
  -webkit-animation: open1 0.6s forwards;
  animation: open1 0.6s forwards;
}

.c-header__menu.is-open>div>div span:nth-child(2) {
  opacity: 0;
}

.c-header__menu.is-open>div>div span:nth-child(3) {
  -webkit-animation: open2 0.6s forwards;
  animation: open2 0.6s forwards;
}

.c-header__menu.is-close>div>div span:nth-child(1) {
  -webkit-animation: close1 0.6s forwards;
  animation: close1 0.6s forwards;
}

.c-header__menu.is-close>div>div span:nth-child(2) {
  opacity: 1;
}

.c-header__menu.is-close>div>div span:nth-child(3) {
  -webkit-animation: close2 0.6s forwards;
  animation: close2 0.6s forwards;
}

.changeColor {
  background: rgba(37, 56, 100, 0.2);
}

.changeColor .st-header__member a {
  border: 2px solid #253864;
  color: #253864;
}

.changeColor .st-header__member a {
  background: #253864;
}

.changeColor .is-open.st-header__menu span {
  background: #253864;
}

@-webkit-keyframes open1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0);
    transform: translateY(9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
}

@keyframes open1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0);
    transform: translateY(9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
}

@-webkit-keyframes open2 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0);
    transform: translateY(-9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
}

@keyframes open2 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0);
    transform: translateY(-9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
}

@-webkit-keyframes close1 {
  0% {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(13px) rotate(0);
    transform: translateY(13px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@keyframes close1 {
  0% {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(13px) rotate(0);
    transform: translateY(13px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes close2 {
  0% {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-13px) rotate(0);
    transform: translateY(-13px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@keyframes close2 {
  0% {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-13px) rotate(0);
    transform: translateY(-13px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes open1sp {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(6.5px) rotate(0);
    transform: translateY(6.5px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(6.5px) rotate(45deg);
    transform: translateY(6.5px) rotate(45deg);
  }
}

@keyframes open1sp {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(6.5px) rotate(0);
    transform: translateY(6.5px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(6.5px) rotate(45deg);
    transform: translateY(6.5px) rotate(45deg);
  }
}

@-webkit-keyframes open2sp {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-6.5px) rotate(0);
    transform: translateY(-6.5px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-6.5px) rotate(-45deg);
    transform: translateY(-6.5px) rotate(-45deg);
  }
}

@keyframes open2sp {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-6.5px) rotate(0);
    transform: translateY(-6.5px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-6.5px) rotate(-45deg);
    transform: translateY(-6.5px) rotate(-45deg);
  }
}

/* # =================================================================
#	フッター
# ================================================================= */
.c-footer {
  background: #324A5B url(../img/common/bg_ashi_04.png);
  color: #fff;
}

.c-footer a {
  color: #fff;
  font-weight: 400;
}

.c-footer__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0 70px;
  font-family: 'Shippori Mincho';
}

.c-footer__flex::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 1px;
  height: 98px;
  background: #fff;
}

.c-footer__flex>div {
  width: 50%;
}

.c-footer__flex>div:nth-of-type(1) {
  text-align: center;
}

.c-footer__flex>div:nth-of-type(1)>p {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.c-footer__flex>div:nth-of-type(1)>p:nth-of-type(2) {
  font-weight: 400;
  margin-bottom: 0;
}

/* .c-footer__flex>div:nth-of-type(1)>p:nth-of-type(1) img {
  width: 50%;
} */

.c-footer__flex>div:nth-of-type(2) {
  padding-left: 80px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .c-footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 43.5px 0 35px;
  }

  .c-footer__flex>div {
    width: 100%;
  }

  .c-footer__flex>div:nth-of-type(1) p {
    font-size: 22.5px;
    line-height: 119%;
  }

  .c-footer__flex>div:nth-of-type(1) p+p {
    font-size: 14px;
    margin-top: 10px;
  }

  .c-footer__flex>div:nth-of-type(1) p+p span {
    padding-right: 1em;
  }

  .c-footer__flex>div:nth-of-type(2) {
    padding-left: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c-footer__flex::after {
    content: none;
  }

  .c-footer__flex>div:nth-of-type(1)>p:nth-of-type(1) img {
    width: 260px;
  }

  .c-footer__flex>div:nth-of-type(1) ul {
    padding-bottom: 30px;
    border-bottom: solid 3px #fff;
  }
}

.c-footer__num {
  font-size: 2.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.c-footer__emal {
  font-size: 22px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.c-footer__num a {
  font-weight: 500;
}

.c-footer__num+.c-footer__num {
  margin-top: 5px;
}

.c-footer__num span {
  font-size: 22px;
  font-weight: 400;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .c-footer__num {
    font-size: 18px;
  }

  .c-footer__num span {
    font-size: 14px;
  }

  .c-footer__emal {
    font-size: 14px;
  }
}

.c-footer__mail {
  margin-top: 5px;
}

.c-footer__mail+.c-footer__mail {
  margin-top: 5px;
}

.c-footer__mail a {
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .c-footer__mail {
    font-size: 1.2rem;
    text-align: center;
  }
}

.c-footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  padding-bottom: 25px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Shippori Mincho';
}

.c-footer__links li {
  position: relative;
}

.c-footer__links li::before {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c-footer__links li:last-of-type::before {
  content: none;
}

.c-footer__links a {
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .c-footer__links {
    padding-bottom: 37.5px;
  }

  .c-footer__links li {
    width: 50%;
  }

  .c-footer__links li:nth-of-type(1),
  .c-footer__links li:nth-of-type(2) {
    margin-bottom: 5px;
  }


  .c-footer__links li::before {
    content: none;
  }

  .c-footer__links li:nth-of-type(2n + 1)::before {
    content: "";
    height: 28px;
  }

  .c-footer__links li a {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 0;
  }
}

#c-float {
  width: 100px;
  position: fixed;
  bottom: 50%;
  /* 画面下からの距離 */
  right: 0;
  /* 画面右からの距離 */
  display: none;
  /* 初期状態では非表示 */
  z-index: 800;
  transform: translateY(50%);
}

@media screen and (max-width: 767px) {
  #c-float {
    /* right: 10px; */
    width: 60px;
  }
}

.c-pagetop a {
  background: linear-gradient(90deg, rgba(36, 55, 73, 0.75) 30.29%, rgba(54, 87, 118, 0.75) 100%);
  border: 3px solid #8F8F8F;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .c-pagetop a {
    width: 60px;
    height: 60px;
  }
}

.c-pagetop a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .c-pagetop a::before {
    width: 15px;
    height: 15px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 55%;
  }
}

.c-weather {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.c-weather a {
  width: 80px;
  height: 80px;
  background: rgba(234, 234, 234, 0.7);
  color: #03045E;
  border: 1px solid #03045E;
  letter-spacing: 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  font-weight: 500;
}

.c-weather a::before {
  content: "";
  width: 40px;
  height: 30px;
  background: url(../img/common/ic_weather.png) left top/100% 100% no-repeat;
  display: inline-block;
  margin: 12px 0 10px;
}

.c-weather.c-clothes a::before {
  width: 40px;
  height: 30px;
  background: url(../img/common/ic_clothes.png) left top / 100% 100% no-repeat;
  margin: 10px 0 5px;
}

@media screen and (max-width: 767px) {
  .c-weather {
    z-index: 1;
  }

  .c-weather a {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  .c-weather.c-clothes a::before {
    margin: 4px 0 2px;
  }

  .c-weather a::before {
    margin: 7px 0 4px;
  }
}

.c-copy {
  background: #243749;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 10px 0;
  font-family: 'Shippori Mincho';
}

@media screen and (max-width: 767px) {
  .c-copy {
    font-size: 1rem;
  }
}

/* # =================================================================
#	メイン背景
# ================================================================= */
.c-main {
  background-image: url(../img/common/bg_ashi_03.png);
  background-repeat: repeat;
  background-color: #F8F7F2;
}


/* # =================================================================
#	下層ヘッダー
# ================================================================= */
.c-page-header {
  position: relative;
  margin-bottom: 80px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-page-header__inner {
  z-index: 1;
  width: 100%;
  padding: 0 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
}

@media screen and (max-width: 767px) {
  .c-page-header {
    height: 200px;
    margin-bottom: 30px;
  }

  .c-page-header__inner {
    -webkit-transform: translateY(calc(-50% + 30px));
    transform: translateY(calc(-50% + 30px));
  }
}

.c-page-header__title {
  font-size: 8rem;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  line-height: 100%;
  font-family: "Quicksand";
}

._sub {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #243749;
}

.c-page-header__title span {
  font-size: 26px;
  line-height: 60px;
  font-family: "Yu Gothic";
}

.c-page-header img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .c-page-header__inner {
    padding: 0 15px;
  }

  .c-page-header__title {
    font-size: 3rem;
  }

  .c-page-header__title span {
    font-size: 1.6rem;
  }

  .c-page-header__title._s {
    font-size: 2.8rem;
    line-height: 1;
  }

  .c-page-header__title._s span {
    font-size: 1.4rem;
    margin-top: 10px;
  }
}


/* # =================================================================
#	下層ページネーション
# ================================================================= */
.c-pagenation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

.c-pagenation a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  border: 1px solid #243749;
  color: #243749;
  font-weight: bold;
}

.c-pagenation li {
  margin: 0 5px;
}

.c-pagenation li.is-current a {
  background: #243749;
  color: #fff;
}

.c-pagenation li.c-pagenation__first,
.c-pagenation li.c-pagenation__last {
  margin: 0 15px;
}

.c-pagenation li.c-pagenation__first a,
.c-pagenation li.c-pagenation__last a {
  border-radius: 0;
  width: inherit;
  padding: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-pagenation li.c-pagenation__first a:hover,
.c-pagenation li.c-pagenation__last a:hover {
  background: #03045E;
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 767px) {

  .c-pagenation li.c-pagenation__first,
  .c-pagenation li.c-pagenation__last {
    margin: 0 10px;
  }

  .c-pagenation li.c-pagenation__first a,
  .c-pagenation li.c-pagenation__last a {
    padding: 0 10px;
    width: inherit;
  }
}

@media screen and (max-width: 767px) {
  .c-pagenation {
    margin-top: 30px;
  }

  .c-pagenation li {
    margin: 0 3px;
  }

  .c-pagenation a {
    width: 30px;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
    padding-left: 2px;
  }
}

/* # =================================================================
#	ぱんくず
# ================================================================= */
.c-brd {
  display: block;
  margin: 40px 0 0;
  margin-top: 140px;
  padding: 0 0 40px 10px;
  text-align: left;
}

.c-brd a {
  color: inherit;
}

.c-brd li {
  display: inline;
}

.c-brd li+li::before {
  content: "/";
  display: inline-block;
}

.c-brd li a {
  display: inline;
  padding: 0 10px;
  text-decoration: underline;
}

.c-brd li:last-child a {
  pointer-events: none;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .c-brd {
    font-size: 1.4rem;
    padding-left: 0;
    margin-top: 80px;
  }
}

/* # =================================================================
#	テーブル
# ================================================================= */
.tb-01 {
  width: 100%;
  margin-top: 1em;
}

.tb-01 a {
  text-decoration: underline;
  color: #4846B0;
}

.tb-01 td {
  background: #fff;
}

.tb-01+p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tb-01 p+p {
  margin-top: 10px;
}

.tb-01 caption {
  text-align: left;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .tb-01 th,
  .tb-01 td {
    display: block;
  }
}

@media screen and (min-width: 768px) {

  .tb-01 th,
  .tb-01 td {
    padding: 1em 1.5em;
  }
}

.tb-01 th {
  background-color: #f1fdff;
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .tb-01 th {
    padding: 0.5em 1em;
    border-top: solid 1px #cecece;
  }
}

@media screen and (min-width: 768px) {
  .tb-01 th {
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;
    text-align: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .tb-01 td,
  .tb-01 th {
    font-size: 1.5rem;
  }

  .tb-01 td {
    padding: 0.5em 1em 1.5em 1em;
  }
}

@media screen and (min-width: 768px) {
  .tb-01 td {
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;
  }
}

.tb-03 {
  width: 100%;
  margin: 0 auto;
}

.tb-03 caption {
  text-align: left;
  font-family: "minion-pro", serif;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .tb-03 caption {
    font-size: 5.625vw;
  }
}

@media screen and (min-width: 768px) {
  .tb-03 caption {
    font-size: 2.6rem;
  }
}

.tb-03 th,
.tb-03 td {
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .tb-03 th,
  .tb-03 td {
    padding: 0.5em;
    white-space: nowrap;
    font-size: 3.75vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .tb-scroll {
    margin-right: 1vw;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 768px) {

  .tb-03 th,
  .tb-03 td {
    padding: 1em 1.5em;
  }
}

.tb-03 th {
  background-color: rgba(197, 152, 82, 0.15);
  border: solid 1px #e9d8bd;
  font-weight: bold;
}

.tb-03 td {
  border-right: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  border-left: solid 1px #e6e6e6;
}

.table-type-01 {
  width: 100%;
  margin-top: 2em;
}

.table-type-01 caption {
  text-align: left;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .table-type-01 caption {
    font-size: 6.875vw;
  }
}

@media screen and (min-width: 768px) {
  .table-type-01 caption {
    font-size: 2.6rem;
  }
}

.table-type-01 th,
.table-type-01 td {
  padding: 1em 1.5em;
}

.table-type-01 th {
  width: 20%;
  border-top: solid 1px #03045E;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #03045E;
  background-color: #03045E;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}

.table-type-01 td {
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .table-type-02 {
    width: auto;
    background: #fff;
  }
}

@media screen and (min-width: 768px) {
  .table-type-02 {
    width: 100%;
    background: #fff;
  }
}

.table-type-02 caption {
  margin-bottom: 0.25em;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .table-type-02 caption {
    font-size: 4.6875vw;
  }
}

@media screen and (min-width: 768px) {
  .table-type-02 caption {
    font-size: 2.6rem;
  }
}

.table-type-02 thead th {
  vertical-align: middle;
}

.table-type-02 th,
.table-type-02 td {
  padding: 1em 0.5em;
  text-align: center;
}

.table-type-02 th {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #03045E;
  background-color: #03045E;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}

.table-type-02 td {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  vertical-align: middle;
}

/*コース紹介ページャー*/
.pager-01 {
  position: relative;
  line-height: 1;
}

.pager-01 a {
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  letter-spacing: 0.05em;
  transition: 0.3s;
  background: #D9D9D9;
}

@media screen and (min-width: 768px) {
  .pager-01 a {
    width: 11em;
    font-size: 1.8rem;
  }
}

.pager-01 a.pager-index {
  position: absolute;
  background-color: #03045E;
  color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .pager-01 a.pager-index {
    left: 0;
    top: 3.5em;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .pager-01 a.pager-index {
    left: 50%;
    top: 0;
    margin-left: -5.5em;
  }

  .pager-01 a.pager-index:hover {
    border: solid 1px #03045E;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .pager-01 a.pager-index::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    background-color: #cfa96f;
  }

  .pager-01 a.pager-index:hover::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.pager-01 a.pager-prev,
.pager-01 a.pager-next {
  position: absolute;
  top: 0;
  color: #03045E;
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .pager-01 a.pager-prev,
  .pager-01 a.pager-next {
    width: 43vw;
  }
}

.pager-01 a.pager-prev::after,
.pager-01 a.pager-next::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: normal;
  font-style: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .pager-01 a.pager-prev::after,
  .pager-01 a.pager-next::after {
    font-size: 6.25vw;
  }
}

@media screen and (min-width: 768px) {

  .pager-01 a.pager-prev::after,
  .pager-01 a.pager-next::after {
    font-size: 2.8rem;
  }
}

.pager-01 a.pager-prev {
  left: 0;
}

.pager-01 a.pager-prev::after {
  left: 10px;
  content: "<";
}

@media screen and (min-width: 768px) {
  .pager-01 a.pager-prev:hover::after {
    left: 0;
  }
}

.pager-01 a.pager-next {
  right: 0;
}

.pager-01 a.pager-next::after {
  right: 10px;
  content: ">";
}

@media screen and (min-width: 768px) {
  .pager-01 a.pager-next:hover::after {
    right: 0;
  }
}

/* # =================================================================
#	見出し
# ================================================================= */
.c-head1 {
  position: relative;
  font-size: 2.8rem;
  text-align: center;
  z-index: 1;
  color: #333;
  font-weight: 500;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .c-head1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}

.c-head1__en {
  font-family: "Playwrite IN", sans-serif;
  color: #CAF0F8;
  font-size: 7rem;
  font-weight: 200;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: -1;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .c-head1__en {
    font-size: 4.6rem;
  }
}

.c-head2 {
  text-align: center;
}

.c-head2 span {
  font-size: 2.2rem;
  border-bottom: 1px solid #333;
  font-weight: 500;
  padding-bottom: 10px;
}

.c-head3 {
  font-weight: 500;
  text-align: center;
  font-size: 2.3rem;
}

@media screen and (max-width: 767px) {
  .c-head3 {
    font-size: 1.8rem;
  }
}

.c-head4 {
  font-size: 2.8rem;
  font-weight: 400;
  position: relative;
  line-height: 1;
  z-index: 1;
  padding: 0 0 30px;
  color: #03045E;
}

.c-head4 span {
  font-size: 4.25rem;
  font-family: "Playwrite IN", sans-serif;
  color: #90E0EF;
  font-weight: 200;
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  letter-spacing: 0;
}

.c-head4+p {
  position: relative;
  z-index: 2;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 767px) {
  .c-head4 {
    font-size: 2rem;
    padding: 0 0 15px;
  }

  .c-head4 span {
    font-size: 3.6rem;
    transform: translateY(0px);
  }
}

.c-head5 {
  font-size: 32px;
  font-weight: 700;
  padding: 0 0 30px;
}

@media screen and (max-width: 767px) {
  .c-head5 {
    font-size: 2rem;
    padding: 0 0 15px;
  }
}

.c-head6 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
  padding: 0 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #132133;
}

.c-head6 span {
  font-size: 7.5rem;
  font-family: "Playwrite IN", cursive;
  color: #324A5B;
  font-weight: 300;
  line-height: 100%;
  margin-top: -80px;
  opacity: 0.2;
}

@media screen and (max-width: 767px) {
  .c-head6 {
    font-size: 2.4rem;
    padding: 0 0 15px;
  }

  .c-head6 span {
    font-size: 4rem;
    margin-top: -45px;
  }
}

/* # =================================================================
#	余白
# ================================================================= */
._mt0 {
  margin-top: 0;
}

._mts {
  margin-top: 60px;
}

._mtm {
  padding-top: 100px;
}

._mtl {
  margin-top: 140px;
}

@media screen and (max-width: 767px) {
  ._mts {
    margin-top: 30px;
  }

  ._mtm {
    padding-top: 60px;
  }

  ._mtl {
    margin-top: 60px;
  }
}

/* # =================================================================
#	文字組み
# ================================================================= */
.c-tac {
  text-align: center;
}

.c-tal {
  text-align: left;
  margin-bottom: 30px;
}

.c-tar {
  text-align: right;
}

/* # =================================================================
#	フッター上
# ================================================================= */
.c-btbnr {
  background: url(../img/common/bg_footer_01.jpg) center/cover no-repeat;
  padding: 0 0 20px;
}

@media screen and (max-width: 767px) {
  .c-btbnr {
    padding: 30px 0;
  }
}

.c-btbnr ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .c-btbnr ul {
    width: 100%;
    flex-direction: column;
  }
}

.c-btbnr ul li {
  margin: 10px 0;
  width: 480px;
}

.c-btbnr ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 2.2rem;
  background: linear-gradient(90deg, #243749 0%, #385168 100%);
  padding: 50px 0;
  position: relative;
}

.c-btbnr ul li a::before {
  content: "";
  position: absolute;
  right: 30px;
  width: 15px;
  height: 15px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
}

.c-btbnr ul li a span {
  font-weight: 700;
  border-bottom: solid 1px #fff;
}

.c-btbnr ul li:nth-child(1) a {
  font-size: 24px;
  border: solid 3px #fff;
  border-radius: 20px;
  padding: 20px 0;
}

.c-btbnr ul li:nth-child(1) {
  margin: 0 0 45px;
}

.c-btbnr ul li:nth-child(1) a::before {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-btbnr ul li {
    width: 100%;
    margin: 10px 0 0 0;
    height: inherit;
  }

  .c-btbnr ul li a {
    font-size: 18px;
    padding: 20px 0;
    font-weight: bold;
  }

  .c-btbnr ul li:nth-child(1) a {
    font-size: 18px;
  }

  .c-btbnr ul li:nth-child(1) {
    margin: 0 0 30px;
  }

  .c-btbnr ul li a span {
    font-size: 18px;
    font-weight: 500;
  }
}

._line::after {
  height: 490px;
  width: 3px;
}

/* # =================================================================
#	改行
# ================================================================= */
.c-brpc {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .c-brpc {
    display: none;
  }
}

.c-brsp {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-brsp {
    display: inline-block;
  }
}

/* # =================================================================
#	表示
# ================================================================= */
.c-forpc {
  display: block;
}

@media screen and (max-width: 767px) {
  .c-forpc {
    display: none;
  }
}

.c-forsp {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-forsp {
    display: block;
  }
}

/* # =================================================================
#	リンク
# ================================================================= */
.c-link-pdf {
  position: relative;
}

.c-link-pdf::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 27px;
  background: url(../img/common/icn_pdf.png) left top/100% 100% no-repeat;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

@media screen and (max-width: 767px) {
  .c-link-pdf::after {
    margin-top: -10px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
}

/* # =================================================================
#	フォントカラー
# ================================================================= */
.fc-red {
  color: #FF0000;
}

/* # =================================================================
#	リスト
# ================================================================= */
.c-list {
  margin-top: 10px;
}

.c-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .c-list li {
    font-size: 1.4rem;
  }
}

/* # =================================================================
#	注釈
# ================================================================= */
.ex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  margin-top: 10px;
}

.ex+.ex {
  margin-top: 0;
}


.c-scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c-scroll>li {
  width: 20%;
}

.c-scroll>li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  line-height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #fff;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.6rem;
  background: #03045E;
  color: #fff;
}

.c-scroll>li a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-scroll>li a:hover {
  background: #0077B6;
  color: #fff;
  opacity: 1;
}

.c-scroll>li a:hover::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.c-scroll>li+li a {
  border-left: none;
}

@media screen and (max-width: 767px) {
  .c-scroll>li {
    width: 50%;
    border-left: 1px solid #fff;
  }

  .c-scroll>li a {
    font-size: 1.3rem;
  }

  .c-scroll>li:nth-of-type(1) {
    border-left: 1px solid #fff;
  }

  .c-scroll>li:nth-of-type(3)>a,
  .c-scroll>li:nth-of-type(4)>a {
    border-top: 1px solid #fff;
  }

  .c-scroll>li:nth-of-type(3)>a {
    border-left: none;
  }

  .c-scroll>li:nth-of-type(5)>a {
    border-top: 1px solid #fff;
  }

  .c-scroll>li:nth-of-type(3)>a {
    border-top: none;
  }

  .c-scroll>li>a {
    line-height: 1;
    height: 50px;
    font-size: 1.4rem;
    background: #03045E;
    color: #fff;
  }

  .c-scroll>li>a::after {
    width: 7px;
    height: 7px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    margin: 4px 0 0 0;
  }
}

.c-btn {
  width: 300px;
  background: #03045E;
  color: #fff;
  border-radius: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  margin: 40px auto;
  font-weight: bold;
}

.table-scroll {
  margin-top: 60px;
}

._bg {
  background: url(../img/common/pt_fuji.jpg) repeat;
}

@media screen and (max-width: 767px) {
  .table-scroll {
    margin-right: 1vw;
    overflow-x: scroll;
    margin-top: 30px;
  }

  ._bg {
    background: url(../img/common/pt_fuji.jpg) center / 60px 50px repeat;
  }
}

@media screen and (max-width: 767px) {
  .pc-header {
    display: none;
  }
}

/* .pc-header {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 872px;
}

.pc-header ul {
  display: flex;
  background: #fff;
  border-radius: 50px;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .3);
}

.pc-header ul li:nth-of-type(1) a {
  padding-left: 20px;
}

.pc-header ul li a {
  display: inline-block;
  padding: 0 15px;
  color: #0077B6;
  font-weight: bold;
  white-space: nowrap;
}

.pc-header ul li.pc-header-member {
  background: #0077B6;
  background: linear-gradient(90deg, #0077B6 0%, #00B4D8 100%);
  border-radius: 50px;
  height: 100%;
  margin-left: 10px;
}

.pc-header ul li.pc-header-member._member {
  background: #03045E;
  margin-left: 5px;
}

.pc-header ul li.pc-header-member a {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-logo {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-logo {
    display: block;
    width: calc(100% - 130px);
    max-width: 300px;
    padding-left: 10px;
  }
} */

.c-box {
  background: #fff url(../img/common/bg_ashi_02.png) center bottom / 100% no-repeat;
  padding: 60px 150px 268px;
  border: solid 1px #989E74;
  border-radius: 20px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .c-box {
    padding: 30px 20px 80px;
  }
}

/* あしらい */
.c-deco {
  display: block;
  position: absolute;
}

/* # =================================================================
# ご予約方法について
# ================================================================= */
.c-rease {
  background: #324A5B url(../img/common/bg_ashi_04.png);
  color: #fff;
  padding: 70px 0;
}

.c-rease>div {
  background: #989E74;
  width: 62.2%;
  margin: 0 auto;
  text-align: center;
  border-radius: 18px;
  padding: 30px 0px 50px;
}

.c-rease>div p {
  margin-bottom: 20px;
  font-family: 'Yu Gothic';
  font-weight: 500;
  font-size: 20px;
}

.c-rease>div a {
  color: #324A5B;
  background: #fff;
  width: fit-content;
  border-radius: 20px;
  padding: 20px 70px;
  margin: auto;
  font-family: 'Shippori Mincho';
  font-weight: 700;
  font-size: 26px;
  display: block;
}

@media screen and (max-width: 767px) {
  .c-rease>div {
    width: 100%;
  }

  .c-rease>div p {
    font-size: 14px;
  }

  .c-rease>div a {
    font-size: 18px;
    padding: 20px;
  }
}

/* # =================================================================
# 会員専用
# ================================================================= */
.c-member {
  background:
    #F8F7F2 url("../img/member/bg_member_01.png") repeat,
    url("../img/member/bg_ashi_01.png") left top 400px no-repeat / 432px 373px,
    url("../img/member/bg_ashi_02.png") right bottom no-repeat / 611px 394px;
}

