.c-page-header {
    background: url("../img/common/page-header.png") left / 874px 100% no-repeat, url("../img/range/page-header.jpg") center / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
    .c-page-header {
        background: url("../img/common/page-header_sp.png") left / 60% 100% no-repeat, url("../img/news/page-header_sp.jpg") center / 100% 100% no-repeat;
    }
}

.picare {
    display: flex;
    gap: 20px;
    margin: 90px 0 50px;
}

.picare img {
    width: calc(50% - (20px / 2));
    border-radius: 10px;
}

.picare+p {
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .picare{
        flex-direction: column;
        margin: 30px 0 30px;
    }

    .picare img{
        width: 100%;
    }

    .picare+p{
        margin-bottom: 30px;
        text-align: unset;
    }
}