.c-page-header {
  background: url("../img/common/page-header.png") left / 874px 100% no-repeat, url("../img/facility/page-header.jpg") center / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .c-page-header {
    background: url("../img/common/page-header_sp.png") left / 60% 100% no-repeat, url("../img/facility/page-header_sp.jpg") center / 100% 100% no-repeat;
  }
}

.fimg {
  display: flex;
  gap: 30px;
  margin-bottom: 145px;
}

.fimg__flo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50px;
  color: #fff;
  margin: 0 auto 35px;
  font-family: Shippori Mincho;
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  background: #243749;
}

._scr01 {
  margin-bottom: 140px;
}

._scr02 {
  padding-top: 40px;
}

.facility__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.facility__flex--img {
  width: 450px;
  margin-left: -210px;
}

.facility__flex--img img {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.facility__flex+.facility__flex {
  margin-top: 75px;
}

.facility__flex._w100 .facility__info {
  width: 100%;
}

.facility__flex a {
  text-decoration: underline;
  color: #4846B0;
}

@media screen and (max-width: 767px) {
  .facility__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .facility__flex--img {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
  }

  .facility__flex+.facility__flex {
    margin-top: 40px;
  }
}

.facility__flex:nth-of-type(2n+2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.facility__flex:nth-of-type(2n+2) .facility__flex--img {
  margin-left: 0;
  margin-right: -210px;
  z-index: 1;
}

.facility__flex:nth-of-type(2n+2) .facility__info {
  padding: 20px;
}

.facility__flex:nth-of-type(2n+2) .facility__info>div {
  padding: 48px 30px 48px 254px;
}


@media screen and (max-width: 767px) {
  .facility__flex:nth-of-type(2n+2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .facility__flex:nth-of-type(2n+2) .facility__info {
    padding: 50px 20px 20px;
  }

  .facility__flex:nth-of-type(2n+2) .facility__flex--img {
    margin-right: auto;
    margin-left: auto;
  }
}

.facility__flex._norev {
  flex-direction: unset;
}

.facility__flex._norev .facility__info>div {
  padding: 20px;
}

.facility__flex._norev .facility__flex--img {
  margin-left: -210px;
}

.facility__info {
  background: #FCFEF0;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: calc(100% - 244px);
  margin-bottom: 65px;
  min-height: 290px;
}

.facility__info>div {
  border: solid 1px #989E74;
  min-height: 250px;
  padding: 48px 30px;
}

.facility__info>div p {
  width: 515px;
}


@media screen and (max-width: 767px) {
  .facility__info {
    padding: 50px 20px 20px;
    width: 100%;
    margin-bottom: 0;
    min-height: initial;
  }
}

/* プライベートルーム */
.bgchen {
  background: #324A5B;
  padding: 177px 0 197px;
  position: relative;
}

.bgchen .c-head6 {
  color: #fff;
}

.bgchen .c-head6 span {
  color: #fff;
}

.bgchen .c-head6+P {
  text-align: center;
  color: #fff;
}

.bgchen .facility__flex:first-of-type {
  margin-top: 135px;
}

.bgchen .c-head3 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: unset;
}

.proom {
  display: flex;
  gap: 57px;
  margin-top: 74px;
}

.proom__tb {
  width: 33.72%;
}

.proom__tb th {
  background: #132133;
  color: #fff;
  font-weight: 500;
}

.proom__tb th:first-of-type {
  width: 30.45%;
}

.proom__tb td {
  background: #F8F7F2;
}

.proom__tb th,
.proom__tb td {
  padding: 10px;
  border: solid 1px #B3B3B3;
}

.proom__tb td:nth-of-type(3) {
  width: 44.74%;
}

.proom__tb--color {
  background: #E9EBD5;
}

.proom__tb--imgbox {
  width: 61.09%;
}

.proom+p {
  color: #fff;
  position: relative;
  padding-left: 1em;
  margin-top: 46px;
  width: 61.09%;
  left: 50%;
  transform: translateX(-18%);
}

.proom+p::before {
  content: "※";
  display: inline-block;
  position: absolute;
  left: 0;
}

/* あしらい */
.deco {
  display: block;
  position: absolute;
}

._01 {
  left: 0;
  top: 0;
}

.deco._01 span {
  height: 0;
  width: 504px;
  padding-top: 106.7%;
  display: block;
  background: url(../img/facility/img_ashi_01.png) left top / 100% 100% no-repeat;
}

._02 {
  right: 0;
  bottom: 0;
}

.deco._02 span {
  height: 0;
  width: 342px;
  padding-top: 290.9%;
  display: block;
  background: url(../img/facility/img_ashi_02.png) left top / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .deco._01 span {
    width: 210px;
  }
}