.c-main {
  background-image: url(../img/common/bg_ashi_01.png);
  background-repeat: repeat;
}

.c-page-header {
  background: url("../img/links/page-header.jpg") center / 100% 100% no-repeat;
}

@media screen and (max-width: 768px) {
  .c-page-header {
    background: url("../img/links/page-header_sp.jpg") center / 100% 100% no-repeat;
  }
}

.title-type-02 {
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .title-type-02 {
    font-size: 6vw;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .links .link-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .links .link-lists li {
    -ms-flex-preferred-size: 32%;
    -webkit-flex-basis: 32%;
    flex-basis: 32%;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

@media screen and(max-width:767) {
  .links .link-lists li {
    line-height: 30px;
  }
}

.link-external::after {
  content: url(../img/links/icn_link_01.svg);
}

.link-external::after {
  padding-left: 1em;
  vertical-align: middle;
}

.partnership-golf {
  margin-top: 80px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .partnership-golf {
    margin-top: 40px;
    margin-bottom: 7px;
    font-size: 20px;
    padding-bottom: 15px
  }
}

#links .c-box {
  padding: 60px 50px 268px;
}

@media screen and (max-width: 767px) {
  #links .c-box {
    padding: 30px 20px 80px;
  }
}