.c-page-header {
    background: url("../img/member/page-header.jpg") center /cover no-repeat;
    margin-bottom: 0;
}

.c-page-header__title {
    text-align: center;
    color: #243749;
}

.m-news .c-head6 {
    font-size: 32px;
    align-items: unset;
    color: #324A5B;
    position: relative;
    padding: 0 0 45px;
}

.m-news .c-head6::after {
    border-bottom: solid 4px rgba(50, 74, 91, 0.3);
    display: inline-block;
    width: calc(100% + 80px);
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    margin-bottom: 5px;
}

.c-head6 span {
    font-size: 55px;
    margin-top: -75px;
}

.m-news .m_head {
    text-align: center;
    align-items: center;
    font-size: 45px;
}

.m-news .m_head span {
    margin-top: -60px;
    font-size: 75px;
}

.m-news .m_head::after {
    display: none;
}

@media screen and (max-width: 767px) {
    .m-news .c-head6 {
        font-size: 20px;
        padding: 0 0 40px;
    }

    .c-head6 span {
        font-size: 35px;
        margin-top: -45px;
    }

    .m-news .c-head6::after {
        width: calc(100% + 40px);
        left: -20px;
    }

    .m-news .m_head {
        font-size: 20px;
    }

    .m-news .m_head span {
        margin-top: -30px;
        font-size: 25px;
    }
}

.news-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 160px;
    flex-wrap: wrap;
}

.news-box p+p {
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .news-box {
        margin-top: 10px;
        margin-bottom: 60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.news-box__left {
    width: calc(100% - 430px);
    background: #fff;
    border: solid 1px #989E74;
    border-radius: 10px;
    padding: 105px 40px 70px;
}

@media screen and (max-width: 767px) {
    .news-box__left {
        padding: 50px 20px 40px;
        width: 100%;
    }
}

#single-page .news-box__left {
    width: 100%;
    padding: 60px 40px;
}

@media screen and (max-width: 767px) {
    #single-page .news-box__left {
        padding: 30px 20px;
    }
}

.news-box__left p {
    /* overflow: hidden; */
    line-height: 1.6;
    margin-bottom: 20px;
}

.news-box__left p img {
    float: left;
}

.news-box__left img {
    margin-bottom: 20px;
}

.news-box__list {
    font-size: 16px;
    padding-top: 30px;
    position: relative;
}

.news-box__list::before {
    border-bottom: solid 2px #989E74;
    display: inline-block;
    width: calc(100% + 80px);
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
}

@media screen and (max-width: 767px) {
    .news-box__list::before {
        width: calc(100% + 40px);
        left: -20px;
    }
}

.news-box__list li {
    border-bottom: 1px dotted #989E74;
    line-height: 1.5;
    font-weight: 500;
}

.news-box__list li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.news-box__list li a:hover {
    background-color: #ececec;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .news-box__list li a {
        padding: 14px 0;
        font-size: 14px;
    }

    .news-box__list li a:hover {
        background: none;
    }

    .news-box__left img {
        margin-left: 0;
        margin-right: 0;
    }
}

.news-box__time {
    margin-bottom: 10px;
    font-weight: 700;
    color: #324A5B;
}

@media screen and (max-width: 767px) {
    .news-box__time {
        font-size: 12px;
    }
}

.news-dt__ttl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2.4rem;
    border-bottom: 2px solid #989E74;
    margin-bottom: 30px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 20px;
    font-weight: 500;
}

.news-dt__ttl span {
    margin-bottom: 25px;
    border-radius: 6px;
    color: #324A5B;
    font-weight: 700;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .news-dt__ttl {
        font-size: 1.8rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 25px;
        line-height: 1.6;
    }

    .news-dt__ttl span {
        font-size: 1.2rem;
    }
}

.news__all {
    background-color: #243749;
    color: #fff;
    border-radius: 37px;
    font-size: 20px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    width: 250px;
    text-align: center;
    font-size: 1.6rem;
    margin: 80px auto 0;
}

@media screen and (max-width: 767px) {
    .news__all {
        font-size: 1.4rem;
        margin: 60px auto 0;
    }
}

.btn-area {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.btn-area .c-link-pdf {
    line-height: 1.2;
    display: inline-block;
}

.news-box__right {
    width: 410px;
    margin-left: 20px;
    background: #fff;
    height: fit-content;
    border: solid 1px #989E74;
    border-radius: 10px;
    padding: 50px 30px 35px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .news-box__right {
        padding: 30px 20px 50px;
    }
}

.news-box__right--box {
    font-size: 1.4rem;
}

.news-box__right--box h3 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 2px #A3A786;
}

@media screen and (max-width: 767px) {
    .news-box__right--box h3 {
        font-size: 18px;
    }
}

.recent-posts-box li {
    padding: 10px 0;
    border-bottom: dotted 1px #A3A786;
}

.news-box__right--box>div+div {
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
    .btn-area .c-link-pdf {
        line-height: 1.6;
    }

    .news-box__right {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }
}

.news-box__right--list li {
    padding: 10px 0;
    border-bottom: dotted 1px #A3A786;
}

/* # =================================================================
#	提携コース
# ================================================================= */

.c-head6+p {
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 30px;
}

.box-pat ul li {
    text-align: center;
    font-weight: 700;
    margin-bottom: 46px;
}

.box-pat ul li:last-of-type {
    margin-bottom: 0;
}

.box-pat ul li a {
    position: relative;
    padding-right: 25px;
    display: inline-block;
}

.box-pat ul li a::after {
    content: "";
    display: inline-block;
    background: url(../img/member/icn_01.png)no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 1em;
}

@media screen and (max-width: 767px) {
    .box-pat {
        padding: 80px 20px 85px;
    }

    .c-head6+p {
        font-size: 16px;
        margin-top: 0;
        padding-bottom: 15px;
    }

    .box-pat ul li {
        margin-bottom: 25px;
    }

    .box-pat ul li a::after {
        margin-left: 0;
        top: 2px;
        right: 0;
    }
}


/* # =================================================================
#	コンペ申し込み
# ================================================================= */
#m-registration .box-pat {
    border-radius: 0;
    position: relative;
    padding: 120px 20px 65px;
}

#m-registration .c-head6+p {
    padding-bottom: 70px;
    letter-spacing: 0;
    margin-top: 45px;
}

#m-registration .box-pat ul {
    background: #F1F1F1;
    width: 74%;
    margin: 0 auto;
    padding: 65px 10px;
}

#m-registration .box-pat ul li {
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 0;
}

#m-registration .box-pat ul li:last-of-type {
    margin-bottom: 0;
}

#m-registration .box-pat ul li a {
    padding-left: 1em;
}

#m-registration .box-pat ul li a span {
    padding-right: 1em;
}

#m-registration .box-pat ul li a::before {
    content: "・";
    display: inline-block;
    position: absolute;
    left: 0;
}

@media screen and (max-width: 767px) {
    #m-registration .box-pat {
        padding: 70px 20px 40px;
    }

    #m-registration .c-head6+p {
        padding-bottom: 45px;
    }

    #m-registration .c-head6+p {
        padding-bottom: 40px;
        margin-top: 0;
    }

    #m-registration .box-pat ul {
        width: 100%;
        padding: 30px 10px;
    }

    #m-registration .box-pat ul li {
        text-align: unset;
        font-size: 16px;
    }
}

.apply {
    background: linear-gradient(90deg, #90966F 0%, #B1B983 100%);
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;
    width: 32.45%;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.apply>p {
    border: 1px solid #fff;
    padding: 15px;
}

.apply+p {
    margin-bottom: 34px;
    text-align: center;
    letter-spacing: 0;
}

@media screen and (max-width: 767px) {
    .apply {
        width: 60%;
        font-size: 22px;
    }

    .apply>p {
        padding: 10px;
        font-size: 18px;
    }

    .apply+p {
        text-align: unset;
    }

}

#m-registration .box-pat ul li a::after {
    margin-left: 0;
}

.regi_send {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.regi_send+a {
    color: #324A5B;
    font-family: 'Yu Gothic';
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    border: solid 1px #8F8F8F;
    width: 43.5%;
    margin: 0 auto;
    padding: 25px 20px 30px 35px;
    display: flex;
    align-items: center;
}

.regi_send+a::before {
    content: "";
    display: inline-block;
    background: url(../img/member/icn_02.png)center / 100% 100% no-repeat;
    width: 55px;
    height: 44px;
}

.regi_send+a span {
    padding-right: 40px;
}

@media screen and (max-width: 767px) {
    .regi_send {
        padding-top: 25px;
        margin-bottom: 25px;
    }

    .regi_send+a {
        width: 100%;
        padding: 10px 10px 10px 30px;
        font-size: 18px;
    }

    .regi_send+a::before {
        width: 30px;
        height: 24px;
    }

    .regi_send+a span {
        padding-right: 20px
    }
}

/* # =================================================================
#	あしらい
# ================================================================= */
.deco {
    display: block;
    position: absolute;
}

._01 {
    width: 237px;
    bottom: 263px;
    right: 96px;
    z-index: 0;
}

._01 span {
    height: 0;
    padding-top: 100%;
    display: block;
    background: url(../img/member/bg_ashi_03.png) left top / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
    ._01 {
        width: 118.5px;
        bottom: 75px;
        right: 0px;
    }
}




/* # =================================================================
#	料金カレンダー
# ================================================================= */
#m-calendar .c-head6+p {
    text-align: center;
    margin-top: 35px;
    padding-bottom: 0;
}

.calendar-container {
    max-width: 1100px;
    margin: 40px auto;
}

.calendar-container .calendar-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: #243749;
    color: #fff;
    padding: 14px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
}

.calendar-container .calendar-nav {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #fff;
}

.calendar-container .calendar-nav.left {
    position: absolute;
    left: 0;
}

.calendar-container .calendar-nav.right {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 767px) {
    .calendar-container .calendar-head {
        font-size: 20px;
    }

    .calendar-container .calendar-nav {
        font-size: 20px;
    }
}

#calendar-events {
    display: none;
}

.custom-content {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 auto;
}

.custom-content .price-group {
    margin-bottom: 10px;
}

/* .custom-content .price-group .member {
    font-weight: 500;

}

.custom-content .price-group .visitor {
    font-weight: 500;
} */

.custom-content .event-name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #243749;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-collapse: collapse;
    margin: 0 auto;
    /* -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width: 767px) {
    .calendar-container {
        margin: 10px auto;
    }

    .custom-content {
        font-size: 18px;
        margin: unset;
    }

    .custom-content .event-name {
        font-size: 18px;
    }

    #calendar {
        display: unset;
    }

    .custom-content .price-group {
        margin-top: 20px;
    }
}

#calendar .day {
    aspect-ratio: 1/1;
    border: 1px solid #8F8F8F;
    padding: 6px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
    background: #fff;
    font-family: 'Yu Gothic';
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    justify-content: center;
}

.date-number {
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 767px) {
    #calendar .day {
        aspect-ratio: unset;
        padding: 10px;
        font-size: 18px;
    }

    .date-number {
        position: unset;
    }
}

/* #calendar .day .date-number {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
} */

#calendar .day .event {
    font-size: 12px;
    margin-top: auto;
    background: #f5f5f5;
    padding: 2px 4px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#calendar .day.sun {
    background-color: #FEE4E4;
}

#calendar .day.sat {
    background-color: #E4FCFE;
}

#calendar .day.holiday {
    background-color: #FEE4E4;
}

#calendar .day.label {
    font-weight: bold;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F1F1F1;
    aspect-ratio: unset;
}

@media screen and (max-width: 767px) {
    #calendar .day.label {
        display: none;
    }
}

#calendar .day.blank {
    background: #fff;
    border: 1px solid #8F8F8F;
}

@media screen and (max-width: 767px) {
    #calendar .day.blank {
        display: none;
    }

}

.weekday {
    display: none;
}

@media screen and (max-width: 767px) {

    .weekday {
        display: inline-block;
        padding-left: 5px;
    }
}

.event-name>span {
    font-size: 12px;
}