.c-page-header {
  background: url("../img/common/page-header.png") left/874px 100% no-repeat, url("../img/recruit/page-header.jpg") center/ cover no-repeat;
}

@media screen and (max-width: 896px) {
  .c-page-header {
    background: url("../img/common/page-header_sp.png") left/60% 100% no-repeat, url("../img/recruit/page-header_sp.jpg") center/ cover no-repeat;
  }
}

.rbox {
  margin-bottom: 205px;
}

.rbox:last-of-type {
  margin-bottom: unset;
}

.rbox__rechead {
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.rbox img {
  margin-bottom: 40px;
}

.rbox__notes {
  position: relative;
  padding-left: 1em;
}

.rbox__notes::before {
  content: "※";
  position: absolute;
  left: 0;
}

.rbox__com {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 90px;
}

#recruit .tb-01 th {
  width: 20%;
}

#recruit .tb-01+p {
  margin-bottom: unset;
}

@media screen and (max-width: 896px) {
  .rbox {
    margin-bottom: 100px;
  }

  .rbox__rechead {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .rbox img {
    margin-bottom: 20px;
  }

  .rbox__com {
    font-size: 18px;
    line-height: 24px;
    margin-top: 45px;
    text-align: start;
  }

  #recruit .tb-01 th {
    width: 100%;
    border-bottom: unset;
    border-top: unset;
  }

  #recruit .tb-01 tr:first-of-type th{
    border-top: solid 1px #989E74
  }
}

#recruit .c-rease {
  background: unset;
}

#recruit .c-rease>div p {
  font-size: 24px;
}

#recruit .c-rease>div a {
  font-family: "Yu Gothic";
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
}

@media screen and (max-width: 896px) {
  #recruit .c-rease>div p {
    font-size: 16px;
  }

  #recruit .c-rease>div a {
    font-size: 20px;
  }
}