.c-main {
  background-image: url(../img/common/bg_ashi_01.png);
  background-repeat: repeat;
}

.c-page-header {
  background: url("../img/sitemap/page-header.jpg") center / 100% 100% no-repeat;
}

@media screen and (max-width: 768px) {
  .c-page-header {
    background: url("../img/sitemap/page-header_sp.jpg") center / 100% 100% no-repeat;
  }
}

.page-links section {
  border-top: solid 1px #989E74;
}

.page-links .page-links-half section:last-of-type {
  border-bottom: solid 1px #989E74;
}

@media screen and (max-width: 768px) {
  .page-links .page-links-half section:nth-of-type(9){
    border-bottom: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .sitemap .title-sitemap {
    font-size: 16px;
    padding: 1em 0;
  }
}

@media screen and (min-width: 768px) {
  .sitemap .title-sitemap {
    font-weight: 500;
    padding: 20px 0;
    font-size: 16px;
  }
}

.sitemap .page-links .page-link::before {
  margin-top: 0.5em;
  margin-left: 1.5em;
}

@media screen and (min-width: 768px) {
  .sitemap .page-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .sitemap .page-links .page-links-half {
    -ms-flex-preferred-size: 45%;
    -webkit-flex-basis: 45%;
    flex-basis: 45%;
  }
}

.sitemap-home {
  margin-bottom: 20px;
}

#sitemap .c-box {
  padding: 120px 70px 268px;
}

@media screen and (max-width: 768px) {
  #sitemap .c-box {
    padding: 50px 20px 80px;
  }
}