@charset "UTF-8";

#top .c-header {
  background: unset;
}

@media screen and (max-width: 767px) {
  #top .c-header {
    background: #132133;
  }
}

.c-sec-headline {
  font-family: 'Playwrite IN';
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 40px;
  color: #132133;
  text-align: center;
}

.post-index {
  z-index: 2;
  font-weight: 400;
}

.post-index ul div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 16px 0;
}

.post-index ul a {
  display: block;
  border-bottom: solid 1px #989E74;
}

.post-index ul span {
  padding-right: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #324A5B;
}

.post-index ul p {
  font-weight: 400;
  line-height: 100%;
}

@media screen and (max-width: 767px) {
  .c-sec-headline {
    font-size: 3.2rem;
  }

  .post-index ul span {
    padding-right: 20px;
    font-size: 14px;
  }

  .post-index ul div {
    padding: 8px 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .post-index {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90vw;
    font-size: 3.75vw;
    margin: 15px auto 0;
    padding: 0 15px;
  }
}

.top-news__more {
  width: 300px;
  color: #fff;
  background: #243749;
  padding: 20px 0;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  font-family: 'Shippori Mincho';
  font-weight: 400;
  line-height: 100%;
}

.top-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .top-logo {
    width: 65vw;
    -webkit-transform: translateY(-50%) translateX(-50%) translateY(3vh);
    transform: translateY(-50%) translateX(-50%) translateY(3vh);
  }

  .top-news__more {
    margin-top: 45px;
    width: 230px;
    padding: 13px 0;
  }
}

.top-logo p {
  font-family: Garamond;
  color: #fff;
  text-align: center;
  font-size: 57px;
  font-weight: 500;
  font-style: italic;
  line-height: 68.4px;
}

@media screen and (max-width: 767px) {
  .top-logo p {
    font-size: 16px;
    line-height: 30px;
  }
}

.top_mv {
  position: relative;
  width: 100%;
  height: 82vh;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .top_mv {
    width: 100%;
    height: 100vh;
  }
}

.top-mtxt {
  position: absolute;
  width: 41.27%;
  top: 380px;
  color: #fff;
  font-family: 'Shippori Mincho';
  font-weight: 500;
  right: 6%;
  transform: translateX(9%);
}

.top-mtxt h1 {
  font-size: 40px;
  line-height: 130%;
}

.top-mtxt p {
  font-size: 18px;
  line-height: 160%;
  margin-top: 1.5em;
}

@media screen and (max-width: 767px) {
  .top-mtxt {
    width: 100%;
    padding: 0 11px 0 5px;
    top: 240px;
  }

  .top-mtxt h1 {
    font-size: 24px;
  }

  .top-mtxt p {
    margin-top: 37px;
  }
}

.kv-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: slider-1 24s linear infinite;
  animation: slider-1 24s linear infinite;
}

@media screen and (max-width: 767px) {
  .kv-img {
    background-position: center right -210px;
  }
}

.kv-img:nth-child(1) {
  background-image: url("../img/top/kv_1.jpg");
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.kv-img:nth-child(2) {
  background-image: url("../img/top/kv_2.jpg");
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.kv-img:nth-child(3) {
  background-image: url("../img/top/kv_2.jpg");
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}

@-webkit-keyframes slider-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  4.16% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  41.66% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
  }
}

@keyframes slider-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  4.16% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  41.66% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
  }
}

.bg-news {
  padding: 94px 0 98px;
  background: linear-gradient(270deg, #F8F7F2 49.04%, #FFFFFF 100%);
}

@media screen and (max-width: 767px) {
  .bg-news {
    width: 100%;
    padding: 50px 0 65px;
  }
}

@media screen and (min-width: 768px) {
  .post-index {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 620px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .wp-pagenavi .nextpostslink,
  .wp-pagenavi .previouspostslink {
    font-size: 3.125vw;
  }
}

@media screen and (min-width: 768px) {

  .wp-pagenavi .nextpostslink,
  .wp-pagenavi .previouspostslink {
    font-size: 1.2rem;
  }
}

/* .banner-weather {
  padding: 27px 0;
  text-align: center;
  background-color: #03045E;
} */


.btnarea {
  background: url("../img/top/bg_btn_01.png") left center no-repeat,
    url("../img/top/bg_btn_02.png") right center no-repeat,
    linear-gradient(90deg, #939971 0%, #AEB390 50%, #939971 100%);
  padding: 60px 0;
}

.btnarea ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.btnarea ul li {
  width: 32.27%;
  background: linear-gradient(90deg, #243749 0%, #385168 100%);
  text-align: center;
}

.btnarea ul li a {
  color: #fff;
  font-family: 'Shippori Mincho';
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  height: 100%;
  display: inline-block;
  padding: 35px 15px;
  width: 100%;
  position: relative;
}

.btnarea ul li a::before {
  content: "";
  position: absolute;
  right: 20px;
  width: 15px;
  height: 15px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

@media screen and (max-width: 767px) {
  .btnarea {
    padding: 40px 0 52px;
  }

  .btnarea ul {
    gap: 10px 15px;
  }

  .btnarea ul li {
    width: calc(50% - (15px / 2));
  }

  .btnarea ul li a {
    padding: 20px 15px;
    font-size: 14px;
  }

  .btnarea ul li a::before {
    width: 10px;
    height: 10px;
  }
}

.top-box {
  padding: 140px 0;
  position: relative;
}

/* image */

@media screen and (max-width: 767px) {
  .top-box {
    padding: 86px 0;
  }
}

.top__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.top__flex--img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* .top__flex--img img {
  height: 100%;
} */

@media screen and (max-width: 767px) {
  .top__flex--img {
    position: unset;
    transform: unset;
    width: calc(100% - 30px);
    margin: 0 auto -35px;
  }
}

.top__flex--btn {
  width: 215px;
  margin-top: 55px;
}

.top__flex--btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px #fff;
  color: #fff;
  border-radius: 50px;
  padding: 9px 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .top__flex--btn {
    margin-top: 7px;
    width: 200px;
  }
}

.top__flex+.top__flex {
  margin-top: 132px;
}

@media screen and (max-width: 767px) {
  .top__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  /* 
  .top__flex--img {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
  } */

  .top__flex+.top__flex {
    margin-top: 90px;
  }
}

.top__flex:nth-of-type(2n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.top__flex:nth-of-type(2n+1) .top__flex--img {
  left: 0;
  z-index: 1;
}

.top__flex:nth-of-type(2n+1) .top__info {
  padding: 100px 80px 70px 538px;
}

@media screen and (max-width: 767px) {
  .top__flex:nth-of-type(2n+1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .top__flex:nth-of-type(2n+1) .top__info {
    padding: 66px 35px 54px;
  }

  /* 
  .top__flex:nth-of-type(2n+1) .top__flex--img {
    margin-right: auto;
    margin-left: auto;
  } */
}

.top__info {
  background: url("../img/top/bg_top_01.jpg") center / 100% 100% no-repeat;
  padding: 90px 511px 70px 40px;
  width: calc(100% - 80px);
}

.top__flex:nth-of-type(2) .top__info {
  background: url("../img/top/bg_top_02.jpg") center / 100% 100% no-repeat;
}

.top__flex:nth-of-type(3) .top__info {
  background: url("../img/top/bg_top_03.jpg") center / 100% 100% no-repeat;
}

.top__flex:nth-of-type(4) .top__info {
  background: url("../img/top/bg_top_04.jpg") center / 100% 100% no-repeat;
}

.top__flex:nth-of-type(5) .top__info {
  background: url("../img/top/bg_top_05.jpg") center / 100% 100% no-repeat;
}

.top__flex:nth-of-type(6) .top__info {
  background: url("../img/top/bg_top_06.jpg") center / 100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .top__info {
    padding: 50px 35px 55px;
    width: calc(100% + 30px);
    margin: 0 auto 0 -15px;
    min-height: initial;
    margin-top: 0;
    z-index: -1;
  }
}

.top__img {
  margin-top: 20px;
}

.top__img._01 {
  width: 400px;
  display: inline-block;
}

.top__img._01 img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .top__img._01 {
    width: 100%;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* あしらい */

.deco {
  display: block;
  position: absolute;
}

._01 {
  top: 0;
  left: 0;
}

.deco._01 span {
  height: 0;
  width: 410px;
  padding-top: 111.21%;
  display: block;
  background: url("../img/top/img_ashi_01.png") left top/100% 100% no-repeat;
}

._02 {
  top: 1004px;
  right: 0;
}

.deco._02 span {
  height: 0;
  width: 410px;
  padding-top: 106.97%;
  display: block;
  background: url("../img/top/img_ashi_02.png") left top/100% 100% no-repeat;
}

._03 {
  bottom: 1018px;
  left: 0;
}

.deco._03 span {
  height: 0;
  width: 410px;
  padding-top: 109.52%;
  display: block;
  background: url("../img/top/img_ashi_03.png") left top/100% 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .deco._01 span {
    width: 195px;
  }

  .deco._02 {
    top: 1087px;
  }

  .deco._02 span {
    width: 195px;
  }

  .deco._03 {
    bottom: 370px;
  }

  .deco._03 span {
    width: 195px;
  }
}